/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #eeeef4;
    font-family: var(--font-family);
}

a {
    color: inherit;
    text-decoration: none;
}

.page-title {
    margin-bottom: 1rem;
}